<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.cn_text}} - 海鹏化工</title>
  <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/css/site.css">
  <link type="text/css" rel="stylesheet" href="/css/{{page.name}}.css">
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?536c1e013ed057a7358d5693d504b297";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
  <div id="container">
    <div id="header">
      <a href="/"><img id="logo_img" src="/image/logo.png" alt="海鹏化工"></a>
      <div id="nav">
        <ul id="nav_bar">
        {{#each site.pages}}
          {{#if showInNav}}
          <li{{#if isCurrent}} class="selected"{{/if}}>
            <a href="/{{name}}.html">
              <div class="Ch_item">{{cn_text}}</div>
              <div class="En_item">{{en_text}}</div>
            </a>
          </li>
          {{/if}}
        {{/each}}
        </ul>
      </div>
    </div>
    <div id="content">
    {{> content }}
    </div>
    <div id="footer">
      <ul>
        <li><a href="/contact.html">联系我们</a></li>
        <li><a href="http://erp.hpchem.cn"target="_blank">远程查询</a></li>
        <li><a href="http://search.51job.com/job/48167745,c.html"target="_blank">诚聘英才</a></li>
        </li><li><a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备15026170号</a></li>
        <li><a href=" ">版权所有@上海海鹏化工科技有限公司</a></li>
      </ul>
    </div>
  </div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap-css/js/bootstrap.min.js"></script>
</body>
</html>
